{block #usefullContent}

<div id="right-sidebar" class="right">
    <h2>Užitečné odkazy</h2>
{var $i = 1}
{foreach $categories as $category}
    <h3>{$category->name}</h3>
    <ul n:inner-foreach="$links{$i} as $link">
        <li>
            <a href="{$link->link}" title="{$link->title}" {if $link->external}target="_blank"{/if}>{$link->title}</a>
        </li>
    </ul>
    {var $i++}
{/foreach}

</div>