<div id="side-news">
    <h2>Aktuality a oznámení</h2>
    {if $info}
    <div class="content-news sidebar">
        <h3 id="notification-small"><a href="{plink :Front:Homepage:Show, $info->id}" title="{$info->title}">{$info->title}</a></h3>
        <span class="date">{$info->date|formatDate:'d.m.Y - H:i'}</span>
    </div>
    {/if}
    {foreach $news as $infos}
    <div class="content-news sidebar">
        <h3><a href="{plink :Front:Homepage:Show, $infos->id}" title="{$infos->title}">{$infos->title}</a></h3>
        <span class="date">{$infos->date|formatDate:'d.m.Y - H:i'}</span>
    </div>
    {/foreach}
    <a href="{plink :Front:Homepage:All}" class="btn" title="Zobrazit starší aktuality">Starší aktuality</a>
</div>