{block controls}

    {snippet ctrl}
    <table n:class="$cssClass != null ? $cssClass : 'table table-hover'">
        <thead>
        <tr>
            <th>
                <span class="icon-th"></span>ID
            </th>
            <th>
                <span class="icon-tags"></span>{_"Typ"}
            </th>
            <th>
                <span class="icon-tag"></span>{_"Název"}
            </th>
            <th>
                <span class="icon-calendar"></span>{_"Vytvořeno"}
            </th>
            <th>
                <span class="icon-tag"></span>{_"Obsah"}
            </th>
            <th>
                <span class="icon-pencil"></span>Edit
            </th>

            <th>
                <span class="icon-trash"></span>{_"Smazat"}
            </th>
        </tr>
        </thead>
        <tbody>
        {ifset $newsData}
            {foreach $newsData as $row}
            <tr>
                <td>
                    {$row->id}
                </td>
                <td>
                    {if $row->info == 1}{_"Oznámení"}{else}{_"Novinka"}{/if}
                </td>
                <td>
                {$row->title}
                <a href="{plink :Front:Homepage:Show, $row->id}">
                {*<span class="ui-icon ui-icon-search" style="display:inline-block;"></span>*}
                </a>
                </td>
                <td>
                    {$row->date|formatDate:d-m-Y}
                </td>
                <td>
                    {!$row->content|truncate:50}
                </td>
                <td>
                    <a href="{plink :Admin:Homepage:Edit, $row->id}" class="btn">
                        <span class="icon-pencil"></span>
                        <span class="link-text">{_'Editovat'}</span>
                    </a>
                </td>{*
                <td>
                    {if $row->visible == 'yes'}
                        <a n:href="deactivate!, $row->id" class="ajax">
                            <span class="ui-icon ui-icon-closethick"style="display:inline-block;"></span><span
                                class="link-text">{_'Deaktivovat'}</span></a>
                        {else}
                        <a n:href="activate!, $row->id" class="ajax">
                            <span class="ui-icon ui-icon-check" style="display:inline-block;"></span><span
                                class="link-text">{_'Aktivovat'}</span></a>
                    {/if}
                </td>*}
                <td>
                    <a n:href="delete!,  $row->id" class="confirmLink btn btn-warning">
                        <span class="icon-white icon-trash"></span><span
                            class="link-text">{_'Smazat'}</span></a>
                </td>
            </tr>
            {/foreach}
        {/ifset}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7"></td>
        </tr>
        </tfoot>
    </table>
    {/snippet}
{/block}