{block controls}

    {snippet ctrl}
    <table n:class="$cssClass != null ? $cssClass : 'table table-hover'">
        <thead>
        <tr>
            <th width="45px">
                <span class="icon-th"></span>ID
            </th>
            <th>
                <span class="icon-tag"></span>{_"Název stránky"}
            </th>
            <th width="10%">
                <span class="icon-eye-open"></span>{_"Zobrazit"}
            </th>
            <th colspan="3" width="20%">
                <span class="icon-wrench"></span>{_"Úpravy"}
            </th>
        </tr>
        </thead>
        <tbody>
            {foreach $menu as $row}
            <tr>
                <td align="center">
                    <strong>{$row->id}</strong>
                </td>
                <td>
                    {$row->pages->name}
                </td>
                <td align="center">
                    {if $row->pages->link}
                    {if strpos($row->pages->link,':') === false}
                        {if strpos($row->pages->link, "//") === 0}

                            <a href="{!$link = substr($row->pages->link, 1)}" target="_blank" class="btn btn-warning">
                                <span class="icon-eye-open" title="Zobrazit stránku" style="margin: 0"></span>
                            </a>
                        {else}
                            <a href="{plink :Front:Page:, $row->pages->link}" target="_blank" class="btn">
                                <span class="icon-eye-open" title="Zobrazit stránku" style="margin: 0"></span>
                            </a>
                        {/if}
                    {else}
                        {if strpos($row->pages->link,"http://") === false}
                        <a href="{plink $row->pages->link}" target="_blank" class="btn btn-warning">
                            <span class="icon-eye-open" title="Zobrazit stránku" style="margin: 0"></span>
                        </a>
                        {else}
                        <a href="{!$row->pages->link}" target="_blank" class="btn btn-info">
                            <span class="icon-eye-open" title="Zobrazit stránku" style="margin: 0"></span>
                        </a>
                        {/if}
                    {/if}
                    {/if}
                </td>
                <td>
                    {if $row->pages->link}
                        {if strpos($row->pages->link,':') === false && strpos($row->pages->link, "//") === FALSE}
                            <a href="{plink :Admin:Addpage:Edit, $row->pages->id}" class='btn'>
                                <span class="icon-pencil" title="upravit" style="margin: 0"></span>
                            </a>
                        {else}
                            <a class='btn disabled'>
                                <span class="icon-pencil" title="upravit" style="margin: 0"></span>
                            </a>
                        {/if}
                    {/if}
                    </td>
                <td>
                    {if $row->pages->visible == 'yes'}
                        <a n:href="deactivate!, $row->pages->id" class="ajax btn btn-success">
                            <span class="icon-ok" style="margin: 0" title="deaktivovat"></span>
                        </a>
                        {else}
                        <a n:href="activate!, $row->pages->id" class="ajax btn btn-danger">
                            <span class="icon-remove" title="aktivovat" style="margin: 0"></span>

                        </a>
                    {/if}
                    </td>
                <td>

                {*                <a n:href="delete!, $page->id"><span class="ui-widget-content ui-icon ui-icon-trash" style="display:inline-block;"></span><span class="link-text">{_'Smazat'}</span></a>*}

                    <a n:href="delete!,  $row->pages->id" class="confirmLink btn btn-warning">
                        <span class="icon-trash"style="margin: 0"></span>
                    </a>
                </td>
            </tr>
            {/foreach}
        </tbody>
    </table>
    {/snippet}
{/block}