<div id="breadcrumbs" class="left">
<span>Jste zde:&nbsp;</span>
	{foreach $items as $item}
        {first}<ul>{/first}
            {if $iterator->isLast()}
                <li n:class="$iterator->isFirst() ? first" class="active">{$item->label}</li>
            {else}
                <li n:class="$iterator->isFirst() ? first">{if $item->url == null}{$item->label}{else}<a href="{$item->url}" title="{$item->label}">{$item->label}</a>{/if}</li>
            {/if}
        {last}</ul>{/last}
	{/foreach}
</div>