<ul class="breadcrumb">
    {foreach $items as $item}
        {if $iterator->isLast()}
            <li {* n:class="$iterator->isFirst() ? first" *} class="active">{$item->label}</li>
        {else}
            <li {* n:class="$iterator->isFirst() ? first" *} >
                {if $item->url == null}
                    {$item->label}
                {else}
                    <a href="{$item->url}" title="{$item->label}">{$item->label}</a>
                {/if}
                <span class="divider">/</span>
            </li>
        {/if}
    {/foreach}
</ul>
