{var $level = 0}
<ul class="menu">
    <li n:if="$useHomepage">
        {if $homepage->isCurrent}
            <a n:class="$homepage->isCurrent ? active" href="{$homepage->url}">{$homepage->label}</a>
        {else}
            <a href="{$homepage->url}">{$homepage->label}</a>
        {/if}
    </li>

    {block #menu}
        {var $level++}
        {foreach $children as $item}
            {if $renderChildren && count($item->getComponents()) > 0}
                <li class="dropdown">
                {else}
                <li>
            {/if}

            {if $item->url }
                {if $renderChildren && count($item->getComponents()) > 0}
                    <a role="menuitem" href="{$item->url}" n:class="$item->isCurrent ? active, dropdown-toggle">{$item->label}<b class="caret"></b></a>
                {else}
                    <a role="menuitem" href="{$item->url}" n:class="$item->isCurrent ? active">{$item->label}</a>
                {/if}
            {else}
                {if $renderChildren && count($item->getComponents()) > 0}
                    <a role="button" data-toggle="" href="#" n:class="$item->isCurrent ? active" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{$item->label}<b class="caret"></b></a>
                {else}
                    <a role="button" data-toggle="" href="#" n:class="$item->isCurrent ? active" >{$item->label}</a>
                {/if}

            {/if}
            {if $renderChildren && count($item->getComponents()) > 0}
                <ul class="dropdown-menu" role="menu" aria-labbeledby="">
                    {include #menu, children => $item->getComponents(), level => $level}
                </ul>
            {/if}
            </li>
        {/foreach}
    {/block}

</ul>

