{var $level = 0}
<ul class="nav">
    {block #menu}
    {var $level++}
    {foreach $children as $item}
    {if $renderChildren && count($item->getComponents()) > 0}
    <li n:class="$item->isCurrent ? active">
    {else}
    <li n:class="$item->isCurrent ? active, $level > 0 ? presentation">
    {/if}

        {if $item->url}
        <a role="menuitem" href="{$item->url}" n:class="count($item->getComponents()) > 0 ? ">{$item->label}</a>
        {else}
        <a role="button" data-toggle="" href="#" n:class="count($item->getComponents()) > 0 ? ">{$item->label}<b class="caret"></b></a>
        {/if}
        {if $renderChildren && count($item->getComponents()) > 0}
        <ul class="hidden" role="menu" aria-labbeledby="">
            {include #menu, children => $item->getComponents(), level => $level}
        </ul>
        {/if}
    </li>
    {/foreach}
    {/block}

</ul>
