{block content}
{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>
    {var $level = 0}
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>http://zusmb.cz/</loc>
        <changefreq>daily</changefreq>
        <priority>{1 - $level * 0.2}</priority>
    </url>
    {block #menu}
        {var $level++}
        {foreach $children as $item}
            {if $item->url}
                <url>
                    <loc>http://zusmb.cz{$item->url}</loc>
                    <changefreq>weekly</changefreq>
                    <priority>{1 - $level * 0.2}</priority>
                </url>
            {/if}
            {if $renderChildren && count($item->getComponents()) > 0}
                {include #menu, children => $item->getComponents(), level => $level}
            {/if}
        {/foreach}
    {/block}
</urlset>

{/block}
