{if $parent}
    {if count($parent->getComponents()) > 0}
<div id="side-menu">
    <h2>{$parent->label}</h2>
    <hr class="dashed">
    <ul>
        {block #menu}
        {if count($parent->getComponents()) > 0}
        {foreach $parent->getComponents() as $menuItem}
            <li n:class="$menuItem->isCurrent ? active">{if !$menuItem->isCurrent}<a  href="{$menuItem->url}" title="{$menuItem->label}">{$menuItem->label}</a>{else}{$menuItem->label}{/if}</li>
            {if count($menuItem->getComponents()) > 0}
            <ul class="sub">
                {foreach $menuItem->getComponents() as $item}
                    <li n:class="$item->isCurrent ? active">
                        {if !$item->isCurrent}
                            <a  href="{$item->url}" title="{$item->label}">{$item->label}</a>
                        {else}
                            {$item->label}
                        {/if}
                    </li>
                {/foreach}
            </ul>
            {/if}

        {/foreach}
        {/if}
        {/block}
    </ul>

</div>
    {/if}
{/if}