{include #js}

%h2 Nyní můžete nahrát jeden a více souborů (přetáhněte do okna)
<div id="dropzone">
    <input id="fileupload" class="no-ajax pull-left" type="file" name="files[]" data-url="{link upload!}" multiple>
    <div class="infoText"><i class="icon-upload"></i> Drag'n'Drop files here!</div>
</div>

    <div class="row-fluid" id="main_progress" style="visibility: hidden">
        <div id="progress" class="span1">0%</div>
        <div class="span11 progress progress-striped active">
            <div class="bar" style="width: 0%;"></div>
        </div>
    </div>
    {*%ul#sortable [data-sort-link => {link sort!}, data-param-name => "uploadControl-data"]*}
    {snippet pictures}
    <ul class="thumbnails">

        {foreach $galleryFiles as $id => $row}
            <li class=" thumbnail">
                <a n:href="deleteFile!, fileId => $row['id']" class="" n:tooltip="Odstranit foto" data-placement="bottom"><i class="icon-trash"></i></a>
            <a href="{$row->path}" class="thumbnail"><img alt="{$row->filename_orig}" src="{$row->thumb}"></a>
            %br
                <input id="text-{$row->id}" data-id="{$row->id}" data-link="{link changeName!}" type="text" class="span3" value="{$row->name}" maxlength="60" name="photo-text">

            </li>
        {/foreach}
    </ul>
    {/snippet}

{define #js}
    <script src="{$basePath}/js/jquery/fileupload/jquery.ui.widget.js"></script>
    <script src="{$basePath}/js/jquery/fileupload/jquery.iframe-transport.js"></script>
    <script src="{$basePath}/js/jquery/fileupload/jquery.fileupload.js"></script>

    <script type="text/javascript">
        $(function () {
            $("input[name=photo-text]").on("change",
                    function(){
                        $("#ajax-spinner").show();
                        var link = $(this).data('link');
                        $.post(link, { id: $(this).data('id') , data: $(this).val().toString() }).done(
                            function(data){
                                if (data.snippets) {
                                    for (var i in data.snippets) {
//                                        console.log(i);
                                        var $el = $("#" + i);
                                        $el.html(data.snippets[i]);
                                    }
                                }else if(data.redirect)
                                {
                                    window.location.replace(data.redirect);
                                    //{"redirect":"http:\/\/rehabilitace-koprivnice.local\/sign\/in?backlink=ms2i9&_fid=wam8"}
                                }
                            }).always(function(){
                                    $("#ajax-spinner").hide();
                            });
            });
            $('#fileupload').fileupload({
                dataType: 'json',
                start: function()
                {
                    $('#main_progress').css('visibility', 'visible');
                },
                done: function (e, data) {
                    var where = $(".thumbnails");
                    $.each(data.result.files, function (index, file) {

                        $('<li/>').addClass('span2 new').text(file.name).appendTo(where);
                    });
                },

                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('.progress .bar').css(
                            'width',
                            progress + '%'
                    );
                    $('#progress').html(progress + '%');
                },

                complete: function () {
                    location.reload();
                }
            });
        });

        $(document).bind('dragover', function (e) {
            var dropZone = $('#dropzone'),
                    timeout = window.dropZoneTimeout;
            if (!timeout) {
                dropZone.addClass('in');
            } else {
                clearTimeout(timeout);
            }
            var found = false,
                    node = e.target;
            do {
                if (node === dropZone[0]) {
                    found = true;
                    break;
                }
                node = node.parentNode;
            } while (node != null);
            if (found) {
                dropZone.addClass('hover');
            } else {
                dropZone.removeClass('hover');
            }

            window.dropZoneTimeout = setTimeout(function () {
                window.dropZoneTimeout = null;
                dropZone.removeClass('in hover');
            }, 1500);
        });

        $(document).bind('drop dragover', function (e) {
            e.preventDefault();
        });
    </script>
{/define}